@{
    ViewData["Title"] = "Casa de Cambio";
}
<h1>Conversor de Moneda</h1>
<form asp-action="Convertir" method="post">
    <label>Envías:</label>
    <input type="number" name="cantidad" step="0.01" required />

    <label>Origen:</label>
    <select name="origen">
        @foreach (var moneda in ViewBag.Monedas)
        {
            <option value="@moneda">@moneda</option>
        }
    </select>

    <label>Recibes:</label>
    <select name="destino">
        @foreach (var moneda in ViewBag.Monedas)
        {
            <option value="@moneda">@moneda</option>
        }
    </select>

    <button type="submit">Hacer Cambio</button>
</form>

@if (ViewBag.Resultado != null)
{
    <p>Enviaste: @ViewBag.Cantidad @ViewBag.Origen</p>
    <p>Recibes: @ViewBag.Resultado @ViewBag.Destino</p>
    <a href="/Boleta/Index">Generar Boleta</a>
}
